.name {
    border-radius: 5px;
    padding: 10px;
    font-family: 'Georgia';
    background-color: teal;
    color: white;
}

.equationStyle {
    font-size: 36px;
}

.yellowBackground {
    background-color: yellow;
}